*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Helvetica", Arial, sans-serif;
}

body {
  min-height: 100vh;
  background-color: #f3f4f6;
  color: #111;
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
}
