#box-model {
    margin: 20px;
    padding: 15px 30px;
    border: 2px solid #000;
    border-radius: 10px;
    width: 250px;
    height: 125px;
    outline: 2px solid #fff000;
    background-color: #ffffe0;
  }

.box-texto {
    background-color: #90ee90;
    color:#00008b;
}